numpy
pandas
matplotlib
scipy
statsmodels
scikit-learn
gradio
langchain
langchain-core
langgraph==0.3.18
langchain-openai
langchain-anthropic
langchain-ollama
langchain-community
langchain_aws
boto3
botocore
openai
beautifulsoup4
lxml
tqdm
seaborn
networkx
requests
pyyaml
jupyter
notebook
ipykernel
pytest
pytest-cov
transformers
sentencepiece
mcp
tooluniverse
python-dotenv