matplotlib
statsmodels
scikit-learn
gradio
langchain
langchain-core
langgraph==0.3.18
langchain-openai
langchain-anthropic
langchain-ollama
langchain-community
langchain_aws
boto3
botocore
openai
beautifulsoup4
lxml
tqdm
seaborn
networkx
requests
packaging
pyyaml
jupyter
jupyterlab-vim
notebook
ipykernel
pytest
pytest-cov
transformers
sentencepiece
mcp
tooluniverse
python-dotenv
scanpy
biopython
biopandas
biotite
opencv-python
rdkit
macs2
pymc3
cryosparc-tools
lifelines
scikit-image
googlesearch-python
PyPDF2
gget
faiss-cpu
cellxgene-census
scikit-bio
pymed
arxiv
scholarly
umap-learn
scrublet
scvelo
scvi-tools
harmony-pytorch
pyliftover
pytdc==0.4.0
pysam
pyfaidx
pyranges
pybedtools
openmm
pystan
igraph
pyscenic
cooler
trackpy
flowcytometrytools
cellpose
viennarna
PyMassSpec
python-libsbml
cobra
reportlab
hmmlearn
msprime
tskit
cyvcf2
pykalman
community
fanc