matplotlib
statsmodels
scikit-learn
gradio
langchain
langchain-core
langgraph==0.3.18
langchain-openai
langchain-anthropic
langchain-ollama
langchain-community
langchain_aws
boto3
botocore
openai
beautifulsoup4
scipy
pandas
numpy
weasyprint
gseapy
lxml
tqdm
seaborn
networkx
requests
packaging
pyyaml
jupyter
jupyterlab-vim
notebook
ipykernel
pytest
pytest-cov
transformers
sentencepiece
langchain-google-genai
mcp
tooluniverse
python-dotenv
pybiomart
fair-esm
lazyslide
transcriptformer
zarr>=2.0,<3.0
scanpy
biopython
biopandas
biotite
opencv-python
rdkit
macs2
pymc3
cryosparc-tools
lifelines
scikit-image
googlesearch-python
mi-googlesearch-python
PyPDF2
gget
faiss-cpu
cellxgene-census
scikit-bio
pymed
arxiv
scholarly
umap-learn
scrublet
scvelo
scvi-tools
harmony-pytorch
pyliftover
pytdc==0.4.0
pysam
pyfaidx
pyranges
pybedtools
openmm
pystan
igraph
pyscenic
cooler
trackpy
flowcytometrytools
cellpose
viennarna
PyMassSpec
python-libsbml
cobra
reportlab
hmmlearn
msprime
tskit
cyvcf2
pykalman
community
fanc
nnunet
nibabel
nilearn
tencent-cos-cli
git+https://github.com/pylabrobot/pylabrobot.git
git+https://github.com/YosefLab/popV.git@refs/pull/100/head